@import '../../sass/variables';

.contenteditableTextarea {
    font-family: DejaVu Sans Mono;
    min-height: 10rem;
    font-size: 1.2rem;
    text-align: left;
    color: #000;
    padding: 0.5rem;
    border: 1px solid $background-color;
    border-radius: 0.4rem;
}