@import '../../sass/variables';

.tagsContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0.5rem;
    padding: 1rem;
    background-color: $secondary-color;
}

.tags_wrapper {
    height: 100%;
    width: 100%;
    margin: 0.1rem;
    background-color: $background-color;
}

.tagsContainer_name {
    margin-bottom: 1rem;
}