@import './sass/_variables';
@import './layouts/Footer/_footer';
@import './layouts/Header/_header';
@import './layouts/Header/_header';
@import './components/NotesContainer/notesContainer';
@import './components/TagsContainer/tagsContainer';
@import './components/Tag/_tag';
@import './components/Note/note';
@import './components/Modal/modal';
@import './components/ContenteditableTextarea/contenteditableTextarea';


.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

main {
	height: 100%;
	display: flex;
	justify-content: space-between;
}